

body {
    font-family: "Roboto", sans-serif;
    size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: white;
    margin: 0;
}
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-container>main {
    flex-grow: 1;
}
p,
h1,
h2,
h3 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #434455;
}


/* #region header */

.header>.container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation {
    display: flex;
    align-items: center;
}
.address-menu,
.header-menu {
    display: flex;
    gap: 40px;
}
.menu-card .link {
    display: block;
    padding: 24px 0;
}

.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    margin-right: 76px
}
.logo .upper {
    color: #2e2f42;
}
.navigation .link{
    color: #2e2f42;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.current {
    position: relative;
}
.link.current:after {
    content: "";
    background-color: #404BBF;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.address .link {
    display: flex;
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus,
.link.current {
    color:#404BBF;
}

/* #endregion header */


/* #region order-service */
.order-service{
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/order-service/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}
.page-title {
    font-size: 56px;
    line-height: 60px;
    color: white;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}
.order-service .order-button {
    display: block;
    min-width: 169px;
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service .order-button:hover,
.order-service .order-button:focus,
.order-service .order-button:active{
    background-color: #404BBF;
}
/* #endregion order-service */


/* #region values */

.values {
    padding: 120px 0;
}
.value-cards{
    display: flex;
    gap: 24px;
}
.value-card {
    width: calc((100% - 72px)/4);
    margin-bottom: 8px;
}
.value-cards .list-header {
    margin: 8px 0;
}
.val-svg-container {
    padding: 24px 100px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}


/* #endregion values */


/* #region team */

.member-info {
    padding: 32px 0;
}
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px; padding-bottom: 120px;
}
.team-card-list{
    display: flex;
    gap: 24px;
}
.team-card {
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px)/4)
}
.member-info {
    text-align: center;
}
.member-info>.content {
    margin: 8px 0;
}
.member-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}
.member-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;
    background-color:#4D5AE5;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-link:hover,
.member-social-link:focus {
    background-color: #404BBF;
}
.member-social-vector {
    display: block;
    fill: #F4F4FD;
}


/* #endregion team */


.content {
    letter-spacing: 0.02em;
    font-size: 16px;
}


h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color:#2e2f42;
    margin: 0;
    margin-bottom: 72px;
}
.list-header{
    font-size: 20px;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 8px;
}



/* #region portfolio */

.portfolio-section {
    padding: 120px 0;
}
.port-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.port-card {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-img {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color:#4D5AE5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(100%);
}
.port-card:hover .overlay-text {
    transform: translateY(0);
}
.port-img>img {
    max-width: 100%;
}
.port-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.port-info>.list-header {
    margin-bottom: 8px;
}
.port-card:hover,
.port-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* #endregion portfolio */


.subtitle {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* #region footer */
.logo .lower {
    color: #F4F4FD;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin: 16px 0;
    width: 264px;
}
.footer .logo {
    display: inline-block;
    margin: 0 0 16px 0;
}
footer>.container {
    display: flex;
    gap: 120px;
    align-items: baseline;
}
.info {
    margin-right: 120px;
}
.socials-head {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.footer-social-link {
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-social-vector {
    display: block;
    fill: #F4F4FD;
}

/* #endregion footer */

.logo .upper,
.logo .lower {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo .lower:hover,
.logo .lower:focus,
.logo .upper:hover,
.logo .upper:focus{
    color: #4D5AE5;
}

.container { 
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto; 
    }


    